@font-face {
  font-family: "Neue Montreal";
  src: url(../fonts/NeueMontreal-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url(../fonts/NeueMontreal-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url(../fonts/NeueMontreal-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
